<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Bolshakov suite">
<test name="Bolshakov test">
    <classes>
        <class name="Home_work_9.Bolshakov_HW_9"/>
        <class name="Home_work_9.Bolshakov_HW_12"/>
        <class name="Home_work_9.Bolshakov_HW_12_part2"/>
    </classes>
</test>
</suite>